*,html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
.maindiv{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.maindiv-courses{grid-template-rows: auto auto auto;}
.container{
    width: 100%;
    max-width: 1980px;
    height: auto;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0 auto;
}
.section{
    padding: 32px 0;
}
.section-heading{
    margin: 20px 0 26px;
    font-size: 48px;
    height: auto;
}
.subheading{
    margin: 10px 0 12px;
    font-size: 16px;
    height: auto;
}
.column{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.div-one{
    grid-area: 1/1/2/2;
    width: 100%;
    display: flex;
    background-color: hsl(21, 83%, 95%);
    box-sizing: border-box;
}
nav{ 
    width: 100%;
    height: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 10px;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
}
.nav-logo{
    height: 30px;
    width: auto;
    margin: 15px 0;
}
.nav-menu-icon{
    height: 24px;
    width: 24px;
    margin: 18px;
}
.nav-logo:hover,.nav-menu-icon:hover{cursor: pointer;}
.nav-menu{
    width: max-content;
    display: none;
    padding: 20px;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    gap: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
ul>li{list-style: none;}
ul>li>a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
li>a:hover,li>a:active,.courses-link:hover,.courses-link:active{color:hsl(227, 89%, 58%)}
.nav-menu-a{grid-area: 1/1/2/2;}
.nav-menu-b{grid-area: 1/2/2/3;}
.nav-menu-c{grid-area: 1/3/2/4;}
.div-one-content{
    height: auto;
    box-sizing: border-box;
    flex-grow: 20;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 24px 0 80px;
}
.div-one-content-courses{padding: 0 0 32px;}
.breadcrumb-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.breadcrumb-text{
    margin: 0 12px;
    width: auto;
}
.breadcrumb-triangle{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid hsl(7, 82%, 67%);
}
.courses-link{
    width: auto;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.content-a{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 0;
    font-family: 'PT Sans', sans-serif;
}
.div-one-content>.content-a{align-self: flex-start;}
.content-b{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 0;
}
.a-text-one{
    width: auto;
    font-size: 56px;
    line-height: 1.1;
    margin: 20px 0 26px;
}
.a-text-two{
    height: auto;
    margin: 10px 0 35px;
}
.a-buttons{
    width: auto;
    height: auto;
    display: flex;
    gap: 30px;
}
.button-link{
    width: fit-content;
    text-decoration: none;
}
.button{
    box-sizing: border-box;
    height: auto;
    width: max-content;
    padding: 9px 24px;
    background-color: transparent;
    border: 0.5px solid orangered;
    border-radius: 9px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button:visited, .button:hover, .button:active{
    background-color: hsl(7, 82%, 57%);
    color: cornsilk;
    text-decoration: none;
    transition: all 0.5s;
}
.active-button{
    background-color: hsl(7, 82%, 67%);
    color: cornsilk;
    border: none!important;
}
#image-one{
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
.div-two{
    grid-area: 2/1/3/2;
    background-color: white;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}
#image-two{
    height: auto;
    width: 100%;
}
#div-two-content-b, #div-two-content-a{flex-grow: 0;}
.div-text-one{
    color: hsl(227, 89%, 68%);
    font-size: 16px;
    font-weight: bold;
} 
.div-text-four{
    height: auto;
    font-family: 'DM Sans', sans-serif;
    color: hsl(0, 0%, 67%);
    line-height: 1.7;
    margin: 0 0 15px;
    font-size: 14px;
}

.div-three{
    grid-area: 3/1/4/2;
    height: auto;
    display: flex;
    box-sizing: border-box;
    background-color: white;
}
.div-three-text-four-wrapper{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 26px;
}
.grad-logo{
    height: 100px;
    width: 100px;
    margin-right: 32px;
}
.div-three-text-four{
    height: auto;
    display: flex;
    flex: 1 0 60%;
    align-items: center;
    justify-content: flex-start;
}
#image-three{
    height: auto;
    width: 100%;
}
.div-four{
    grid-area: 4/1/5/2;
    height: auto;
    background-color: hsl(227, 89%, 68%);
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
}
#div-four-text-one{
    color: white;
    height: auto;
    width: auto;
    line-height: 1.3;
    text-align: center;
}
#div-four-text-two{
    height: auto;
    width: auto;
    text-align: center;
    margin: 0 0 10px;
    color: hsl(0, 0%, 87%);
}
.div-four-button-wrapper{
    margin: 40px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.div-four-button{
    border-color: white;
    color: white;
} 
.div-five{
    grid-area: 5/1/6/2;
    height: auto;
    padding-top: 20%;
    display: flex;
    background-color: white;
}
.div-five-form{
    box-sizing: border-box;
    width: max-content;
    height: auto;
    display: flex;
    gap: 20px;
}
.column>#div-five-content-b{align-self: flex-end;}
#div-five-content-b{justify-content: flex-start;}
.input-area{
    height: auto;
    border: 1px solid grey;
    border-radius: 6px;
    width: max-content;
    /* padding-left: 10px; */
}
.input-button{
    height: auto;
    width: max-content;
    border: 0px transparent grey;
    border-radius: 6px;
    color: white;
    background-color: hsl(227, 89%, 68%);
}
.input-button:hover,.input-button:active{
    background-color: hsl(227, 89%, 58%);
    cursor: pointer;
}
.input-area,.input-button{padding: 9px 24px;}
.div-six{
    grid-area: 6/1/7/2;
    width: 100%;
    height: auto;
    display: flex;
}
.div-six-courses{grid-area: 2/1/3/2;}
.div-six-direction,.div-eight-wrap{
    width: 100%;
    box-sizing: border-box;
}
.div-six-one{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.div-six-two{
    display: none;
    width: 100%;
}
.div-six-two-blogs{display: flex;}
.div-six-content{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    border: 0px;
    border-radius: 12px;
    overflow: hidden;
    background-color: hsl(21, 83%, 95%);
    display: flex;
    flex-direction: column;
}
.div-six-content-a{
    padding: 24px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}
.content-b-wrap{
    box-sizing: border-box;
    padding: 0 24px;
}
.div-six-content-b{
    box-sizing: border-box;
    padding: 5%;
    border: 0px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.content-b-i{
    padding-bottom: 3%;
    box-sizing: border-box;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 1px solid hsl(21, 83%, 80%);
}
.timer-logo{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.content-b-ii{
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    padding-top: 3%;
}
.image-six{
    width: 55px;
    height: 55px;
}
.content-b-ii-text{
    width: auto;
    height: auto;
    padding-left: 5%;
}
.text-a{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 4%;
}
.text-b{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 65%);
}
.div-six-content-c{
    padding: 24px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-c-i{
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    padding: 3% 6% ;
    font-size: 23px;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 12px;
}
.div-seven{
    grid-area: 7/1/8/2;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}
.div-seven-a{
    background-color: hsl(21, 83%, 95%);
    box-sizing: border-box;
    padding: 24px;
    margin-bottom: 40px;
    flex-direction: column;
    border: 0;
    border-radius: 15px;
    display: flex;
}

.div-seven-space-between{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
}
#image-seven{
    height: 170px;
    width: 170px;
    margin: 0 0 24 0px;
}
#quotes{
    height: 45px;
    width: 60px;
    margin: 25px 0 0 0;
}
.div-seven-text-one{
    height: auto;
    width: auto;
    line-height: 1.3;
    padding-bottom: 13px;
}
.div-seven-text-two{padding-bottom: 7px;}
.div-eight{
    grid-area: 8/1/9/2;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
}
.div-eight-text-wrapper{
    text-align: center;
    margin-bottom: 20px;
}
.div-eight-text{
    height: auto;
    width: auto;
}
.div-eight-blogs{width: 100%;}
.div-eight-content-b{
    box-sizing: border-box;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 24px;
}
.eight-a{
    display: flex;
    align-items: center;
}
#image-eight{
    height: 30px;
    width: 30px;
}
.image-eight-text{
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 4%;
    font-size: 12px;
}
.eight-b{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
#calendar-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.eight-b-text{
    height: auto;
    width: max-content;
}
.div-eight-button{margin: 20px 0;}

.div-nine{
    grid-area: 9/1/10/2;
    box-sizing: border-box;
    background-color: white;
    flex-wrap: wrap;
}
.div-nine-content{
    height: auto;
    width: 150px;
}
.div-nine>.column{
    gap: 25px;
}

footer{
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    grid-area: 10/1/11/2;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: 'PT Sans', sans-serif;
}
.footer-courses{grid-area: 3/1/4/2;}
.footer-row{
    padding: 25px 0;
    width: 100%;
}
.footer-row-one,.footer-row-two{
    border-bottom: 0.5px solid grey;
}
.footer-one-a,.footer-two-a,.footer-two-b,.footer-two-c{
    height: auto;
    width: 100%;
}
.footer-button-wrapper{
    align-self: flex-start;
    margin: 10px 0 20px;
}
.footer-button{
    color: white;
    border-color: white;
}
.footer-button:hover,.footer-button:active{background-color: hsl(227, 89%, 58%)}
.i{background-color: hsl(227, 89%, 68%);}

.footer-two-a>a{
    width: 80px;
    height: auto;
    align-self: flex-start;
    margin: 10px 0 20px;
}
.footer-heading{margin: 0 0 16px;}
.two-b-ii{
    margin: 0 0 16px;
    text-decoration: none;
    color: white;
}
#footer-form{
    height: auto;
    width: max-content;
    max-width: max-content;
    align-self: flex-start;
    display: flex;
    gap: 20px;
}
.row-three-a{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.three-a-inner{
    width: max-content;
}
.row-three-b{
    width: max-content;
}
.blogs-grid{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 40px;
}

/* Responsive */
/* Mobile */
@media screen and (min-width: 480px){
    .div-nine>.column{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
    }
    #brand-one{grid-area: 1/1/2/2;}
    #brand-two{grid-area: 1/2/2/3;}
    #brand-three{grid-area: 1/3/2/4;}
    #brand-four{grid-area: 2/1/3/2;}
    #brand-five{grid-area: 2/2/3/3;}
}

/* Tablets */
@media screen and (min-width: 601px) {
    .a-text-one{
        font-size: 72px;
        line-height: 1.15;
    }
    .a-text-two{font-size: 20px;}
    .a-buttons{gap: 30px;}
    .button{width: max-content;}
    .section-heading{font-size: 56px;}
    .subheading{font-size: 20px;}
    .div-text-four{ font-size: 16px;}
    .section{ padding: 60px 0;}
    .div-six-two{display: flex;}
    .div-six-direction{
        gap: 20px;
        flex-direction: row;
    }
    .div-five>.column{
        flex-direction: row;
    }
    .div-eight-blogs{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 40px 20px;
    }
    #div-eight-blog-one{grid-area: 1/1/2/2;}
    #div-eight-blog-two{grid-area: 1/2/2/3;}
    #div-eight-blog-three{grid-area: 2/1/3/2;}
    .blogs-grid{
        grid-template-columns: auto auto;
        column-gap: 15px;
    }
}

@media screen and (min-width: 991px){
    .row{ 
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
    }
    .div-one-content{padding: 80px 0;}
    .section{ padding: 120px 0;}
    .div-six-direction{flex-direction: column;}
    .div-eight-blogs{display: flex;}
    .column>.footer-button-wrapper{align-self: center;}
    .row-three-b{
    flex-basis: max-content;
    }
    .row-three-a{width: 25%;}
    .footer-row-three{
        justify-content: space-between;
    }
    .nav-menu-icon{display: none;}
    .nav-menu{display: grid;}
    .div-nine>.column{display: flex;}
}
.blogs-grid{grid-template-columns: auto auto auto;}
/* Desktops*/


@media screen and (min-width: 1280px){.container{padding: 0 40px;}}
@media screen and (min-width: 1366px){.container{padding: 0 80px;}}
@media screen and (min-width: 1440px){ .container{padding: 0 120px;}}
@media screen and (min-width: 1536px){.container{padding: 0 168px;}}
@media screen and (min-width: 1600px){.container{padding: 0 200px; }}
@media screen and (min-width: 1920px){.container{padding: 0 360px;}}
    
/* 4k-screens */
@media screen and (min-width: 2560px){
    .nav-logo{
        height: 45px;
        width: auto;
        margin: 22px 0;
    }
    .nav-menu-icon{
        height: 36px;
        width: 36px;
    }
    ul>li>a{font-size: 20px;}
    .section-heading{font-size: 85px;}
    .subheading{font-size: 30px;}
    .a-text-one{
        font-size: 100px;
        line-height: 0.95;
    }
    .a-text-two{
        font-size: 28px;
        width: 80%;
    }
    .button{
        font-size: 26px;
        padding: 14px 32px;
    }
    .div-text-one,.div-text-four{ font-size: 24px;}
    .row{ gap: 80px !important;}
    .div-five-form{
        height: 45px;
    }
    .input-area,.input-button{font-size: 25px;} 
}

@media screen and (min-width: 3840px){
    /* .container{width: 50%;} */
    .nav-logo{
        height: 55px;
        width: auto;
        margin: 25px 0;
    }
    .nav-menu-icon{
        height: 40px;
        width: 40px;
    }
    .section-heading{font-size: 95px;}
    .subheading{font-size: 35px;}
    .a-text-one{
        font-size: 110px;
        line-height: 0.95;
    }
    .a-text-two{
        font-size: 30px;
        width: 80%;
    }
    .div-text-one,.div-text-four,.div-seven-text-two{ font-size: 28px;}
    .div-six-content-a,.text-a{font-size: 40px;}
    .div-six>.column{gap: 40px;}
    .content-b-i{font-size: 24px;}
    .text-b,.content-c-i{font-size:32px;}
    .image-eight-text,.eight-b-text{font-size: 24px;}
    .two-b-i,.two-b-ii{font-size: 28px;}
} 