*,html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.maindiv{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100% 100% 75%;
}
/*The first block*/
.div-one{
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
    background-color: hsl(351,86%, 96%);
    display: flex;
    flex-direction: column;
}
nav{ 
    width: auto;
    height: auto;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    flex-grow: 1;
}
.div-one-content{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-grow: 20;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-a{
    height: auto;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
}
.content-b{
    height: auto;
    width: 100%;
    /* padding: 4% 4% 7% 0%; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
}
.content-item{
    height: auto;
    padding: 2% 5%;
}
.a-text-one{
    width: auto;
    font-size: 50px;
    font-family: 'PT Sans', sans-serif;
}
.a-text-two{
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
    width: 80%;
    height: auto;
}
div.a-buttons{
    width: 100%;
    height: auto;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.button-link{
    width: 44%;
    text-decoration: none;
    box-sizing: border-box;
}
.button{
    box-sizing: border-box;
    height: auto;
    width: auto;
    padding: 5% 5%;
    background-color: transparent;
    border: 0.5px solid orangered;
    border-radius: 12px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.button:visited, .button:hover, .button:active{
    background-color: orangered;
    color: cornsilk;
    text-decoration: none;
    transition: all 0.5s;
}
#image-one{
    height: auto;
    width: 100%;
    padding: 4% 4% 7% 0%;
}
.div-two{
    grid-area: 2/1/3/2;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#image-two{
    height: auto;
    width: 100%;
    padding: 4%;
}
#div-two-content-b{
    flex-grow: 0;
    align-items: auto;
    justify-content: auto;
}
.div-two-text-one{
    height: auto;
    width: auto;
    padding: 2% 5%;
    color: darkblue;
    font-family: 'PT Sans', sans-serif;
}
.div-two-text-two{
    height: auto;
    width: auto;
    padding: 2% 5%;
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
}
.div-two-text-three{
    height: auto;
    width: auto;
    padding: 2% 5%;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.div-two-text-four{
    height: auto;
    width: auto;
    padding: 2% 5%;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: gray;
    line-height: 1.5;
}
.div-two-button{
    height: auto;
    width: 50%;
    padding: 2% 5%;
}
.div-three{
    grid-area: 3/1/4/2;
    height: 100%;
    width: 100%;
}

/* Mobiles */
@media screen and (min-width: 360px){
    @media screen and (min-height: 780px){
        .a-text-one{
            font-size: 65px;
        }
        .a-text-two, .button, nav{
            font-size: 15px;
        }
    }
}
@media screen and (min-width: 480px){
    .a-text-one{
        font-size: 65px;
        line-height: 1.0;
    }
    .a-text-two, .button, nav{
        font-size: 18px;
    }
}
@media screen and (min-width: 360px) and (max-width: 414px){
    .maindiv{
        grid-template-rows: 100% auto 100% 75%;
    }
}
/* Tablets */
/* @media screen and (min-width: 640px) {
    .a-text-one{
        font-size: 100px;
        line-height: 1.0;
    }
    .a-text-two, .button, nav{
        font-size: 22px;
    }
}
@media screen and (min-width: 740px){
    .a-text-one{
        font-size: 122px;
        line-height: 1.0;
    }
    .a-text-two, .button, nav{
        font-size: 26px;
    }
} */
/* Desktops*/
/* @media screen and (min-width: 1280px){
    .content-a{
        width:50%;
        height: 100%;
        }
    .content-b{
        width:50%;
        height: 100%;
    }
    .div-one-content{
        flex-direction: row;
    }
} */
